<footer class="footer">
      For more SQL injection fun and for a canonical guide to Rails injection categorized into versions, visit <a href="https://rails-sqli.org">Rails SQLi</a>, whose design and content inspired our initial structure.
</footer>