<nav class="navbar navbar-expand-sm navbar-dark bg-dark pt-0 pb-0">
  <div class="container-fluid pr-4 pl-4">
  <a class="navbar-brand justify-content-between" href="/">SQLi Workbook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/queries">Play With Queries</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/reset">Reset Existing DB</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Set Up a New DB</a>
      </li>
    </ul>
  </div>
     <div class="navbar-text justify-content-end mr-3 ">
      <i>Your database id:</i>
      <br/><%= session[:dbid] %>
    </div>
  </div>
</nav>